@charset "utf-8";

/**** nav ****/
header{width:100%;display:flex;justify-content:start;align-items:center;padding:90px 0 4% 6%;box-sizing:border-box;}
.progress-line{transition:.6s ease-out;-webkit-transition:.6s ease-out;position:fixed;z-index:999;width:100%;top:0;left:0;height:4px;background:#eee;}
.progress-line .active{position:fixed;top:0;left:0;height:4px;width:100%;z-index:999;background:#00d4f0;}
header .logo{position:relative;}
header .logo h1{font-size:26px;font-weight:600;line-height:1;letter-spacing:-0.05em;color:#222;}

/**** common ****/
.sectWrap{width:96%;max-width:1350px;margin:0 auto;position:relative;}
span.block{display:block;}

body{width:100%;}
body[data-aos-duration="400"] [data-aos]{transition-duration:0.8s;}

i:before{vertical-align:middle;}

.fadeIn, .fadeInUp{animation-duration:1.3s;}
.blue{color:#00d4f0;}
.bold8{font-weight:800;}
.block-word{display:block;}

.title{padding:0 0 70px;}
.title h2{font-size:45px;position:relative;}
.title h2::after{position:absolute;content:'';width:7px;height:7px;background:#00d4f0;margin:36px 0 0 10px;}

/* intro */
.intro{/*height:calc(100vh - 184px);*/position:relative;}
.intro h1{font-size:105px;font-weight:700;color:#222;position:relative;display:inline-block;}
.lastH1{margin:-11px 0 52px 57px;}
.intro p{font-size:20px;font-weight:500;line-height:1.75;color:#222;}
.intro p.firstP{color:#00d4f0;margin-bottom:25px;}
.blank{margin-bottom:27px;display:block;}

.intro-bottom{position:absolute;left:38%;bottom:-122px;z-index:-1;}
.available li{padding:15px 0;}
.available li figure{text-align:center;min-width:245px;}
.available li:first-child figure{transform:rotate(6deg);}
.available li:nth-of-type(3) figure{transform:rotate(-6deg);}
.available li:nth-of-type(4) figure{transform:rotate(6deg);}
.available li figure img{width:130px;}
.available li figure figcaption{font-size:39px;font-weight:bold;opacity:0.2;margin-top:33px;line-height:0.98;}

/* @keyframes fadeLeft{
	0%{right:0;}
	100%{right:69px;}
}
@keyframes swing{
	0%{transform:rotate(14deg);}
	50%{transform:rotate(-14deg);}
	100%{transform:rotate(14deg);}
} */

/* skill */
.skill{padding:350px 0 0;}
.skill-title{display:flex;justify-content:center;align-items:center;}

.skill-list{width:100%;}
.skill-list .slick-list{padding:0 !important;width:100%;}
.skill-list li{padding:35px 0;}
.skill-list li div{box-shadow:1px 3px 13px #80808054;border-radius:45px;padding:37px 42px;width:90%;margin:0 auto;min-height:220px;box-sizing:border-box;transition:0.4s;}
.skill-list li div:hover{cursor:url(../../images/drag.png) 5 5, auto;}
.skill-list li div h3{display:inline-block;margin-bottom:15px;padding-right:10px;font-size:25px;font-weight:bold;transition:0.4s;position:relative;}
.skill-list li div h3:before{position:absolute;content:'';left:0;bottom:0;z-index:-1;height:10px;width:100%;opacity:0;background:#00d4f0;transition:0.4s;}
.skill-list li.slick-current div h3:before{opacity:1;}
.skill-list li div p{font-size:18px;transition:0.4s;}

.skill-list li div:hover{background:#00d4f0;margin-top:-20px;box-shadow:1px 3px 23px #00d4f0a2;}
.skill-list li div:hover h3, .skill-list li div:hover p{color:#fff;margin-top:-3px;}
.skill-list li div:hover h3:before{background:#fff;width:5px !important;height:5px !important;left:100%;margin-bottom:3px;z-index:inherit;}

/* portfolio */
.portfolio{padding:0 0 190px;overflow:hidden;}
.portfolio .sectWrap{max-width:1600px;}
.portfolio-title h1{font-size:120px;text-align:center;font-weight:800;padding-top:190px;}

.portfolio-wrap{width:100%;display:flex;flex-wrap:wrap;justify-content:center;}
.portfolio-wrap li{width:50%;padding:0 50px;box-sizing:border-box;}
.portfolio-wrap li:nth-of-type(even){margin-top:13%;}
.portfolio-wrap li .portfolio-list{position:relative;}
.portfolio-wrap li .portfolio-list a{cursor:url(../../images/go.png) 45 45, auto;}
.portfolio-wrap li figure{overflow:hidden;width:100%;}
.portfolio-wrap li figure img{width:100%;transition:0.6s;}
.portfolio-wrap li figure figcaption{font-size:45px;font-weight:500;opacity:0.9;color:#fff;text-shadow:3px 3px 5px rgba(0,0,0,0.3);position:absolute;top:50%;transform:translateY(-50%);width:100%;text-align:center;}
.oveBg{position:absolute;left:0;top:0;z-index:1;width:100%;aspect-ratio:1/1;opacity:0;background:rgba(0,0,0,0.75);transition:0.4s;}
.oveBox p{font-size:18px;color:#fff;position:absolute;left:0;bottom:0;z-index:2;padding:40px 35px;word-break:keep-all;line-height:1.4em;opacity:0;transition:0.7s;}
.oveBox p .oveTitle{display:block;font-size:25px;font-weight:600;margin-bottom:5px;transition:0.6s;}
.oveBox p span{transition:0.8s;}
.oveBox p .oveTitle span{font-size:12px;display:inline-block;margin-left:5px;}

.portfolio-wrap li .portfolio-list:hover figure img{transform:scale(1.1);}
.portfolio-wrap li .portfolio-list:hover figcaption{opacity:0;}
.portfolio-wrap li .portfolio-list:hover .oveBox .oveBg{opacity:1;z-index:1;}
.portfolio-wrap li .portfolio-list:hover .oveBox p{opacity:0.9;margin-bottom:15px;}
.portfolio-wrap li .portfolio-list:hover .oveBox p span{margin-bottom:10px;}

/* other-skill */
.other-skill{padding-bottom:190px;overflow:hidden;}
.other-skill .sectWrap{max-width:1500px;}
.other-title p{font-size:37px;line-height:2.3em;font-weight:500;text-align:center;}
.other-title p:nth-of-type(2){font-size:42px;}
.other-title p .fontUp{font-size:55px;}

.code-wrap{margin-top:90px;}
.code-wrap li{/*width:50%;*/padding:29px 30px;box-sizing:border-box;background:#1e1e1e;border-radius:25px;position:relative;}
.code-wrap .code-list{width:58%;aspect-ratio:779/865;}
.code-wrap .code-list .code-title{font-size:15px;font-weight:400;position:absolute;right:0;bottom:83px;color:#fff;opacity:0;transition:0.6s;}
.white-bar{width:105px;height:1px;background:#fff;display:inline-block;margin-left:7px;vertical-align:middle;}

.script-btn{position:absolute;right:27PX;bottom:25PX;border-radius:30px;background:rgba(255,255,255,.2);transition:0.4s;}
.script-btn .script-link{font-size:15px;font-weight:500;padding:0 25px;width:145px;line-height:52px;color:#fff;display:inline-block;}
.script-btn span{position:absolute;top:50%;transform:translateY(-50%);right:18px;display:inline-block;width:6px;aspect-ratio:4/7;background:url(../../images/arrowWhite.png)no-repeat;background-size:cover;}

.code-wrap li:hover{cursor:url(../../images/drag.png) 45 45, auto;}
.code-wrap li:hover .script-btn{background:#00d4f0;}
.code-wrap li:hover .code-list .code-title{opacity:0.8;bottom:93px;}

@media all and (max-width:1550px){
	header{padding:90px 0 4% 5%;}

	.sectWrap{width:90%;}
	.intro{/*height:calc(100vh - 165px);*/}
	.lastH1{margin:-7px 0 52px 5px;}
	
}

@media all and (max-width:1200px){
	
	.intro-left{overflow:hidden;}
	.intro h1{font-size:90px;word-break:break-all;}
	.lastH1{line-height:1;margin:5px 0 52px 5px;padding-right:50px;}
	.intro-bottom{left:50%;bottom:-109px;}

	.skill{padding:290px 0 0;}

	.portfolio .sectWrap{width:94%;}
	.portfolio-title h1{font-size:97px;padding-top:155px;}
	.portfolio-wrap li{padding:0 20px;}

	.other-title p{font-size:32px;line-height:1.9em;}
	.other-title p:nth-of-type(2){font-size:37px;}
	.other-title p .fontUp{font-size:48px;}
	
}

@media all and (max-width:768px){
	header{padding:70px 5% 7% 5%;}
	header .logo h1{font-size:23px;}

	.intro h1{font-size:75px;}
	.lastH1{margin:22px 0 30px 0px;padding-right:0;}
	.intro p{font-size:18px;}
	.intro-bottom{left:auto;right:-4%;bottom:-102px;}
	.available li figure{min-width:230px;}
	.available li figure img{width:102px;}
	.available li figure figcaption{font-size:33px;margin-top:16px;}

	.title{padding:0 0 55px;}
	.title h2{font-size:41px;}
	.title h2::after{margin:32px 0 0 9px;}

	.skill{padding:230px 0 0;}
	.skill-list li div{width:92%;padding:32px 36px;min-height:214px;}
	.skill-list li div h3{font-size:23px;margin-bottom:14px;}
	.skill-list li div p{font-size:16px;}

	.portfolio{padding:0 0 140px;}
	.portfolio-title h1{font-size:78px;padding-top:120px;}
	.portfolio-wrap li figure figcaption{font-size:34px;}
	.oveBox p{padding:13px 25px;font-size:16px;line-height:1.3em;}
	.oveBox p .oveTitle{font-size:20px;}
	.oveBox p .oveTitle span{font-size:11px;}
	.portfolio-wrap li .portfolio-list:hover .oveBox p span{margin-bottom:5px;}

	.other-title p{font-size:26px;line-height:1.7em;letter-spacing:-0.04em;}
	.other-title p:nth-of-type(2){font-size:30px;}
	.other-title p .fontUp{font-size:34px;}
	.code-wrap{margin-top:80px;}
	.code-wrap .code-list .code-title{font-size:14px;bottom:70px;}
	.code-wrap li:hover .code-list .code-title{bottom:78px;}
	.white-bar{width:82px;}
	.script-btn{right:21px;bottom:20px;}
	.script-btn .script-link{font-size:13px;width:130px;padding:0 19px;line-height:46px;}
	.script-btn span{width:5px;}

}

@media all and (max-width:550px){
	header{padding:54px 5% 6% 5%;}
	header .logo h1{font-size:20px;}

	.intro h1{font-size:55px;}
	.lastH1{margin:13px 0 30px 0px;}
	.intro p{font-size:16px;line-height:1.55;}
	.intro p.firstP, .blank{margin-bottom:16px;}
	.available li figure{min-width:175px;}
	.available li figure img{width:82px;}
	.available li figure figcaption{font-size:26px;margin-top:13px;}
	.intro-bottom{right:-5%;bottom:-43px;}

	.title{padding:0 0 40px;}
	.title h2{font-size:37px;}
	.title h2::after{margin:29px 0 0 8px;}

	.skill{padding:150px 0 0;}
	.skill-list li div{min-height:170px;}

	.portfolio{padding:0 0 110px;}
	.portfolio-wrap{margin-top:-25px;}
	.portfolio-title h1{font-size:65px;padding-top:90px;}
	.portfolio-wrap li{width:94%;padding:0 3%;margin-top:4% !important;}
	.portfolio-wrap li:nth-of-type(1){margin-top:0 !important;}

	.other-skill{padding-bottom:160px;}
	.other-title p{font-size:20px;line-height:1.5em;}
	.other-title p:nth-of-type(2){font-size:24px;}
	.other-title p .fontUp{font-size:27px;}
	.code-wrap{margin-top:75px;}
}





