@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700&display=swap');

/**** nav ****/
header{width:100%;height:72px;display:flex;justify-content:start;align-items:center;position:fixed;left:0;top:0;z-index:999;}
header .logo{margin-left:1.3%;position:relative;}
header .logo h1{font-family:'Rubik', sans-serif;font-size:38px;font-weight:500;line-height:1;letter-spacing:-0.05em;color:#222;}

/**** common ****/
.sectWrap{width:96%;max-width:1280px;margin:0 auto;position:relative;}
span.block{display:block;}

body[data-aos-duration="400"] [data-aos]{transition-duration:0.8s;}

i:before{vertical-align:middle;}

.fadeIn, .fadeInUp{animation-duration:1.3s;}

/**** fullpage ****/
.section{width:100%;height:100%;}
.fp-section{overflow:hidden;display:flex;}

/* fp-nav*/
#fp-nav.fp-left{left:1.8%;}
#fp-nav ul li{width:16px;margin:10px 0;}
#fp-nav ul li .fp-tooltip{opacity:1;width:auto;left:50% !important;transform:translateX(-50%);font-size:11px;color:#333;top:24px;font-weight:bold;}
#fp-nav ul li a span{background:#0096dc;width:7px;height:7px;margin:0;transform:translate(-50%, -50%);opacity:0.6;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span{height:10px;width:10px;margin:0;opacity:1;}

/**** main ****/

/* intro */
#section1.fp-section{display:inherit;}
.intro{display:flex;height:100%;align-items:center;position:relative;}
.intro::before{position:absolute;content:'';background:url(../../images/ujin.png)no-repeat center center;width:400px;height:100%;right:4%;top:50%;transform:translateY(-50%);background-size:100% auto;opacity:0.3;animation:fadeLeft 1.5s;}

.intro h1{font-size:99px;line-height:0.93;font-weight:normal;color:#222;position:relative;display:inline-block;}
.lastH1{margin-bottom:33px;}
.lastH1::before{position:absolute;content:"'3년차'";animation:swing 4s infinite linear;font-size:31px;right:-14px;top:-31px;opacity:0.8;transform:rotate(14deg);}
.intro p{font-size:18px;font-weight:500;line-height:1.6;color:#222;}
.blank{margin-bottom:27px;display:block;}

.intro-bottom{padding-top:50px;}
.available{display:flex;}
.available li{width:20%;display:flex;justify-content:center;align-items:center;}
.available li figure{text-align:center;}
.available li:first-child figure{transform:rotate(6deg);}
.available li:nth-of-type(3) figure{transform:rotate(-6deg);}
.available li:nth-of-type(4) figure{transform:rotate(6deg);}
.available li figure img{width:85px;}
.available li figure figcaption{font-size:39px;font-weight:bold;font-family:'Do Hyeon', sans-serif;opacity:0.2;margin-top:33px;line-height:0.98;}

@keyframes fadeLeft{
	0%{right:0;}
	100%{right:69px;}
}
@keyframes swing{
	0%{transform:rotate(14deg);}
	50%{transform:rotate(-14deg);}
	100%{transform:rotate(14deg);}
}

/* portfolio1 */
.portfolio{display:flex;padding:0 0 0 150px;height:100vh;overflow:hidden;}
.pf-title{width:22%;padding-top:103px;position:relative;}
.title-bar{width:180px;height:1px;background:#222;margin-bottom:90px;}
.pf-title .title-bar{background:#0070c0;}
.pf-title h2{font-size:30px;margin-bottom:35px;}
.pf-title h1{font-size:50px;line-height:1.16;}

.role{position:absolute;bottom:11%;width:100%;padding-right:40px;box-sizing:border-box;}
.role li{padding:7px 0;display:flex;align-items:center;justify-content:space-between;}
.role li p{font-size:14px;text-align:justify;margin-bottom:50px;font-weight:500;letter-spacing:-0.02em;line-height:1.55;}
.role-name{font-size:15px;font-weight:400;font-family:'Do Hyeon', sans-serif;color:#0070c0;}
.percentage{display:inline-block;width:calc(100% - 40%);height:5px;border-radius:3px;background:#0070c0b7;position:relative;}
.percentage::after{position:absolute;content:'100%';font-size:10px;top:-15px;right:0px;font-weight:bold;font-style:italic;}

.fixed-url{position:absolute;top:55%;transform:translateY(-50%);right:-15px;background:#0070c0;;z-index:999;border-radius:13px;text-align:right;box-shadow:-3px 5px 13px #0070c072;}
.fixed-url::after{position:absolute;content:'▶';right:-13px;top:50%;transform:translateY(-50%);font-size:17px;color:#0070c0;}
.url-inner{padding:15px 50px 15px 20px;position:relative;}
.fixed-url p{font-size:13px;color:#fff;margin-bottom:5px;}
.more-btn{font-size:15px;color:#fff;font-family:'Do Hyeon', sans-serif;}
.more-btn:hover{text-decoration:underline;}
.more-txt2{display:none;}

.close-btn{position:absolute;right:9px;top:7px;color:#fff;border:1px solid #fff;border-radius:5px;cursor:pointer;font-size:11px;line-height:17px;transition:all 0.6s;padding:0 3px;}
.close-btn:hover{background:#fff;color:#0070c0;}

.pf-right{width:78%;}
.pf-right .slick-list{overflow:visible;}
.pf-right .slick-vertical .slick-slide{border:none;}
.slick-items img{width:100%;}

/* portfolio2 */
.portfolio.right{padding:0 150px 0 0;}
.portfolio.right .pf-title{order:2;text-align:right;}
.portfolio.right .pf-title .title-bar{float:right;}
.portfolio.right .pf-title h2{clear:both;}
.portfolio.right .fixed-url{right:auto;left:-15px;text-align:left;}
.portfolio.right .url-inner{padding:15px 20px 15px 50px;}
.portfolio.right .fixed-url::after{right:auto;left:-13px;transform:translateY(-50%) rotate(-180deg);}
.portfolio.right .close-btn{right:auto;left:9px;}
.portfolio.right .role{padding-right:0;padding-left:40px;}
.portfolio.right .role li{text-align:left;}
.portfolio.right .pf-right{order:1;}

#portfolio2 .title-bar, #portfolio2 .fixed-url{background:#b88779;box-shadow:3px 5px 13px #b8877972;}
#portfolio2 .fixed-url::after, #portfolio2 .close-btn:hover, #portfolio2 .role-name{color:#b88779;}
#portfolio2 .percentage{background:#b8877989;}

/* portfolio3 */
#portfolio3 .pf-right{display:flex;align-items:center;}
#portfolio3 .pf-right .slick-list{overflow:hidden;}
#portfolio3 .slick-items{padding-right:50px;}
#portfolio3 .slick-items img{width:auto;height:87vh;border:1px dotted #00b4af;}
#portfolio3 .slick-prev, #portfolio3 .slick-next{background:#fff;z-index:999;top:auto;border:1px solid #00b4af;width:37px;height:37px;box-sizing:border-box;bottom:-66px;}
#portfolio3 .slick-prev{left:0px;}
#portfolio3 .slick-next{right:auto;left:42px;}
#portfolio3 .slick-prev::before, #portfolio3 .slick-next::before{color:#00b4af;content:'◀';font-size:13px;font-family:inherit;}
#portfolio3 .slick-next::before{content:'▶';}

#portfolio3 .title-bar, #portfolio3 .fixed-url{background:#00b4af;box-shadow:3px 5px 13px #00b4ae5e;}
#portfolio3 .fixed-url::after, #portfolio3 .close-btn:hover, #portfolio3 .role-name{color:#00b4af;}
#portfolio3 .percentage{background:#00b4ae58;}

/* skill */
.skill{width:100%;display:flex;align-items:center;padding:0 120px;box-sizing:border-box;}
.skill-left{width:36%;padding-right:70px;box-sizing:border-box;}
.skill-top{margin-bottom:60px;}
.title-bar2{width:363px;margin-bottom:40px;}
.skill-top h3{font-size:36px;font-weight:lighter;line-height:1.2;}
.lastH3{margin-bottom:22px;}
.skill-top p{font-size:18px;line-height:1.4;font-weight:400;}

.code-slick .slick-list{padding:0 !important;}
.code-slick li:hover{cursor:grab;}
.code-slick li figure{padding:0 4px;}
.code-slick li img{width:100%;}

.skill-right{width:64%;}
.skill_list{width:100%;padding:0 2%;box-sizing:border-box;}
.skill_list li{width:100%;}
.skill_list li div{box-sizing:border-box;border-bottom:1px solid black;padding:30px 0 45px;}
.skill_list li:last-child div{border-bottom:none;}
.skill_list li div h3{font-size:33px;margin-bottom:21px;font-weight:lighter;display:inline-block;background:rgba(191, 190, 190, 0.32);}
.skill_list li p{padding:0 35px;line-height:1.6;font-family:'Do Hyeon', sans-serif;font-weight:lighter;text-align:justify;letter-spacing:-0.06em;font-size:23px;}

@media all and (max-width:1300px){
	#fp-nav.fp-left{left:2.7%;}

	header .logo h1{font-size:32px;}

	/*intro*/
	.intro::before{width:310px;}
	.intro h1{font-size:83px;}
	.lastH1{margin-bottom:26px;}
	.lastH1::before{font-size:27px;top:-25px;}
	.intro p{font-size:16px;}
	.blank{margin-bottom:17px;}

	.intro-bottom{padding-top:34px;}
	.available li figure img{width:72px;}
	.available li figure figcaption{font-size:32px;margin-top:11px;}

	/*portfolio*/
	.portfolio{padding:0 0 0 10%;}
	.pf-title{width:27%;}
	.pf-right{width:73%;}
	.title-bar{width:158px;margin-bottom:70px;}
	.pf-title h2{font-size:27px;margin-bottom:27px;}
	.pf-title h1{font-size:44px;}
	.role{padding-right:30px;}
	.role li p{margin-bottom:40px;}
	.role-name{font-size:14px;}
	.percentage{width:calc(100% - 38%);}

	.url-inner{padding:10px 38px 10px 15px;}
	.more-btn{font-size:14px;}
	.close-btn{top:5px;font-size:10px;line-height:14px;padding:0 2px;}

	.portfolio.right{padding:0 10% 0 0;}
	.portfolio.right .role{padding-left:30px;}
	.portfolio.right .url-inner{padding:10px 15px 10px 38px;}
	
	/*skill*/
	.skill{padding:0 5%;}
	.skill-top h3{font-size:33px;}
	.lastH3{margin-bottom:16px;}
	.skill-left{padding-right:45px;}
	.skill-top{margin-bottom:50px;}
	.skill-top p{font-size:16px;}

	.skill_list li div{padding:27px 0 37px;}
	.skill_list li div h3{font-size:30px;margin-bottom:16px;}
	.skill_list li p{font-size:21px;}
	
}

@media all and (max-width:1000px){
	/*skill*/
	.skill-top h3{display:inline;}
	.skill-top p{margin-top:16px;}

	.skill_list li div h3{font-size:28px;}
	.skill_list li p{font-size:19px;padding:0 27px;}
	

}

@media all and (max-width:767px){
	.fp-section{height:auto !important;}
	
	header{height:60px;}
	header.active{background:#fff;border-bottom:1px solid #eee;box-shadow:5px 5px 10px rgb(0 0 0 / 5%);}

	/*intro*/
	.intro{height:auto;padding:120px 0 65px;}
	.intro::before{width:240px;}
	.intro h1{font-size:60px;}
	.lastH1{margin-bottom:22px;}
	.lastH1::before{font-size:23px;top:-21px;right:-16px;}
	.intro p{font-size:15px;}
	.blank{margin-bottom:14px;}

	.intro-bottom{padding-top:28px;}
	.available li figure img{width:56px;}
	.available li figure figcaption{font-size:23px;margin-top:9px;}

	/*portfolio*/
	.portfolio{padding:65px 0;display:block;height:auto;}
	.pf-title{width:100%;padding:0 2% 120px 2%;box-sizing:border-box;}
	.title-bar{width:149px;margin-bottom:50px;}
	.pf-title h1{margin-bottom:10px;font-size:40px;}
	.pf-title h2{font-size:25px;margin-bottom:21px;}
	.pf-title span.block{display:inline-block;}
	.role{position:inherit;padding-right:0;}
	.role li p{font-size:16px;}
	.fixed-url{top:auto;bottom:-16px;right:2%;transform:none;text-align:left;}
	.fixed-url::after{content:'▼';right:auto;left:-5px;top:auto;transform:rotate(40deg);font-size:16px;bottom:-10px;}
	.more-txt1{display:none;}
	.more-txt2{display:block;}

	.pf-right{width:100%;height:580px;overflow:hidden;box-shadow:0 -1px 21px rgb(0 0 0 / 21%);}
	#project-slick, #project-slick2{overflow:hidden;}
	.percentage{width:calc(100% - 21%);}

	.portfolio.right{padding:65px 0;}
	.portfolio.right .pf-title{text-align:left;}
	.portfolio.right .pf-title .title-bar{float:none;}
	.portfolio.right .role{padding-left:0;}

	.portfolio.right .fixed-url{left:2%;}
	.portfolio.right .fixed-url::after{right:-5px;transform:rotate(-40deg);left:auto;}
	.portfolio.right .url-inner{padding:10px 38px 10px 15px;}
	.portfolio.right .close-btn{left:auto;right:9px;}

	#portfolio3 .pf-right{box-shadow:none;overflow:visible;}
	#project-slick3{height:100%;}
	#portfolio3 .pf-right .slick-list{height:100%;}
	#portfolio3 .pf-right .slick-track{height:100%;}
	#portfolio3 .slick-items{margin:0 10px;padding-right:0;height:100%;}
	#portfolio3 .slick-items img{width:auto;height:100%;}
	#portfolio3 .slick-prev{left:10px;bottom:auto;top:-50px;}
	#portfolio3 .slick-next{left:52px;bottom:auto;top:-50px;}

	/*skill*/
	.skill{padding:65px 2%;display:block;}
	.skill-left{width:100%;padding:0 0 65px 0;}
	.skill-top h3{display:block;}
	.skill-top p{margin-top:0;}

	.skill-right{width:100%;}
	.skill_list li div{padding:22px 0 32px;}
	.skill_list li div h3{font-size:26px;}
}

@media all and (max-width:525px){
	header{height:55px;}
	header .logo h1{font-size:30px;}

	/*intro*/
	.intro{padding:120px 0 55px;}
	.intro::before{width:194px;}
	.intro h1{font-size:45px;}
	.lastH1::before{font-size:20px;top:-18px;right:-18px;}
	.intro p{font-size:14px;}
	.blank{margin-bottom:12px;}

	.intro-bottom{padding-top:23px;}
	.available li figure img{width:44px;}
	.available li figure figcaption{font-size:19px;margin-top:7px;}

	/*portfolio*/
	.portfolio{padding:55px 0;}
	.title-bar{width:133px;margin-bottom:45px;}
	.pf-title{padding:0 2% 90px 2%;}
	.pf-title h2{font-size:23px;margin-bottom:19px;}
	.pf-title h1{font-size:36px;}
	.role li p{font-size:15px;margin-bottom:35px;}
	.percentage{height:4px;}
	
	.portfolio.right{padding:55px 0;}
	.pf-right{height:480px;}

	/*skill*/
	.skill{padding:55px 2%;}
	.skill-top h3{font-size:30px;}
	.lastH3{margin-bottom:14px;}
	.skill-top p{font-size:15px;}

	.skill_list li div{padding:22px 0 27px;}
	.skill_list li div h3{font-size:23px;}
	.skill_list li p{font-size:17px;line-height:1.4;padding:0 19px;}
}





